DATABASE_URL=postgresql://neondb_owner:password@ep-host-pooler.ap-southeast-2.aws.neon.tech/neondb?sslmode=require
COOLDOWN_SECONDS=30
CANVAS_SIZE=64
FRONTEND_URL=https://www.pixnette.site
WRITE_BATCH_INTERVAL_MS=2000
